<%- include("partials/header") %>
        
    <div class="container">
		<!-- <h1 class="new-prod-header display-4">404</h1> -->
		<div class="no-page col-md-12">
			<h1 class="display-4">404</h1>
			<hr class="my-4">
			<p class="lead">Page not found</p>
			<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
				<a class="btn button-style btn-md hcm-btn" href="/" role="button">Go to Home Page</a>
			<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
				<a class="btn button-style btn-md cape-btn" href="/" role="button">Go to Home Page</a>
			<% } else if (currentUser.branchAssoc == "America's HealthCare at Home, Inc") { %>
				<a class="btn button-style btn-md ahcah-btn" href="/" role="button">Go to Home Page</a>
			<% } else { %>
				<!-- Add all other companies here -->
				<a class="btn button-style btn-md global-btn" href="/" role="button">Go to Home Page</a>
			<% } %>
		</div>
	</div>

<%- include("partials/footer") %>