<%- include("partials/header") %>
        
    <div class="container">
		<!-- <h1 class="new-prod-header display-4">404</h1> -->
		<div class="no-page col-md-12">
			<h1 class="display-4">404</h1>
			<hr class="my-4">
			<p class="lead">Page not found</p>
        	<a class="btn button-style btn-md green-btn" href="/" role="button">Go to Home Page</a>
		</div>
	</div>

<%- include("partials/footer") %>