<%- include("partials/header") %>

	<div class="container">
		<div class="row">
			<div class="col-md-3 landing-grid">
				<a href="/orders">
					<h4 class="landing-cta">
						Orders
					</h4>
				</a>
			</div>
			<div class="col-md-3 landing-grid">
				<a href="/orders">
					<h4 class="landing-cta">
						Profile
					</h4>
				</a>
			</div>
			<div class="col-md-3 landing-grid">
				<a href="/orders">
					<h4 class="landing-cta">
						How To Contact Us
					</h4>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 landing-grid">
				<a href="/orders">
					<h4 class="landing-cta">
						Order Status Meaning
					</h4>
				</a>
			</div>
			<div class="col-md-3 landing-grid">
				<a href="/orders">
					<h4 class="landing-cta">
						FAQ's
					</h4>
				</a>
			</div>
			<div class="col-md-3 landing-grid">
				<a href="/orders">
					<h4 class="landing-cta">
						Website
					</h4>
				</a>
			</div>
		</div>
	</div>

<%- include("partials/footer") %>