<%- include("partials/header") %>
        
        <div class="container">
            <div class="jumbotron">
				<div class="container">
					<h1 class="display-4">Health Complex Physician Portal</h1>
                	<p class="lead">A better way to serve your patients</p>
                	<hr class="my-4">
                	<a class="btn button-style btn-lg green-btn" href="/orders" role="button">Go to Orders Page</a>
				</div>
            </div>
        </div>

<%- include("partials/footer") %>