<%- include("./partials/global-header") %>

		<div class="container">
			<div class="form-animation">
				<h1 class="new-prod-header">Login</h1>
				<form action="/login" method="POST">
					<div class="form-group form-width">
						<label class="reg-label">Username</label>
						<input class="form-control form-align" type="text" name="username" required>
					</div>
					<div class="form-group form-width">
						<label class="reg-label">Password</label>
						<input class="form-control form-align" type="password" name="password" required>
					</div>
					<div class="form-group form-btn-width">
						<button class="btn btn-md btn-default button-style btn-block global-btn">Login</button>
					</div>
				</form>
				<div class="pass-align">
					<a href="/forgot">Forgot Password?</a>
				</div>
			</div>
		</div>

<%- include("./partials/global-footer") %>