<%- include("./partials/header") %>

<div class="container">
	<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
		<h1 class="landing-header-hcm">Register</h1>
	<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
		<h1 class="landing-header-cape">Register</h1>
	<% } else { %>
	<!-- Add all other companies here -->
	<% } %>
	<form action="/register" method="POST">
		<div class="form-group form-width">
			<label class="reg-label">Username</label>
			<input class="form-control form-align" type="text" name="username" id="username" required>
		</div>
		<div class="form-group form-width">
			<label class="reg-label">Password</label>
			<input class="form-control form-align" id="pass" type="password" name="password" id="password" required>
		</div>
		<div class="form-group form-width">
			<label class="reg-label">First Name</label>
			<input class="form-control form-align" type="text" name="firstName" id="firstName" required>
		</div>
		<div class="form-group form-width">
			<label class="reg-label">Last Name</label>
			<input class="form-control form-align" type="text" name="lastName" id="lastName" required>
		</div>
		<div class="form-group form-width">
			<label class="reg-label">Email</label>
			<input class="form-control form-align" type="email" name="email" id="email" required>
		</div>
		<div class="form-group form-width">
			<label class="reg-label">Account Type</label>
			<select name="role" id="role" class="form-control form-align" required>
				<option disabled selected value>Select an Option</option>
				<option value="Employee" name="role">Employee</option>
				<option value="Physician" name="role">Physician</option>
			</select>
		</div>
		<div class="form-group form-width">
			<label class="reg-label">Branch Associated With</label>
			<input type="checkbox" id="branchAssoc" name="branchAssoc" value="Health Complex-Waterbury">
			<label for="Health Complex-Waterbury"> Health Complex-Waterbury</label><br>
			<input type="checkbox" id="branchAssoc" name="branchAssoc" value="Cape Medical Supply Sandwich">
			<label for="Cape Medical Supply Sandwich"> Cape Medical Supply Sandwich</label><br>
		</div>
		<div class="form-group form-width">
			<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
				<button class="btn btn-md btn-default button-style btn-block hcm-btn mt-4">Register</button>
			<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
				<button class="btn btn-md btn-default button-style btn-block cape-btn mt-4">Register</button>
			<% } else { %>
			<!-- Add all other companies here -->
			<% } %>
		</div>
	</form>
</div>


<%- include("./partials/footer") %>