<%- include("partials/header") %>
        
    <div class="container">
		<!-- <h1 class="new-prod-header display-4">404</h1> -->
		<div class="no-page col-md-12">
			<h1 class="display-4">Reset Password Email Sent!</h1>
			<hr class="my-4">
			<p class="lead">Please check your email for more instructions on resetting your password</p>
        	<a class="btn button-style btn-md green-btn" href="/login" role="button">Go to Login Page</a>
		</div>
	</div>

<%- include("partials/footer") %>