/* Header page */

.logo {
	height: 70px;
	width: auto;
	margin-left: 20%;
}

.large-logo {
	height: 40px;
	width: auto;
	margin: 5% 0 5% 20%;
}

.global-logo {
	margin: 1.5%;
	font-family: "Quicksand", sans-serif;
}

.global-logo a {
	text-decoration: none;
	color: #152E46;
}

.navbar {
	margin-bottom: 50px;
}

.page-spacing {
	margin-bottom: 200px;
}

#navbarSupportedContent {
	margin-right: 10%;
}

.progress {
	height: 30px;
	font-size: 15px;
}

.progress-bar {
	background: #00C0FF;
}

/* Landing page */

.thumbnail {
	border: 2px solid #D3D3D3;
	text-align: center;
	margin-bottom: 20px;
	padding: 20px 10px;
}

.jumbotron {
	background: #F8F9FA;
}

.landing-header-hcm {
	color: #006846;
	text-align: center;
	margin-bottom: 30px;
}

.landing-header-cape {
	color: #444444;
	text-align: center;
	margin-bottom: 30px;
}

.landing-header-ahcah {
	color: #444444;
	text-align: center;
	margin-bottom: 30px;
}

.landing-header-global {
	color: #152E46;
	text-align: center;
	margin-bottom: 30px;
}

.landing-grid-hcm {
	display: flex;
	text-align: center;
	margin: 10px auto;
	position: relative;
	border: 2px solid #006846;
	border-radius: 5%;
	height: 200px;
}

.landing-grid-cape {
	display: flex;
	text-align: center;
	margin: 10px auto;
	position: relative;
	border: 2px solid #0052A5;
	border-radius: 5%;
	height: 200px;
}

.landing-grid-ahcah {
	display: flex;
	text-align: center;
	margin: 10px auto;
	position: relative;
	border: 2px solid #990000;
	border-radius: 5%;
	height: 200px;
}

.landing-grid-global {
	display: flex;
	text-align: center;
	margin: 10px auto;
	position: relative;
	border: 2px solid #152E46;
	border-radius: 5%;
	height: 200px;
}

.landing-cta-hcm {
	font-size: 26px;
	color: #006846;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.landing-cta-cape {
	font-size: 26px;
	color: #0052A5;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.landing-cta-ahcah {
	font-size: 26px;
	color: #990000;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.landing-cta-global {
	font-size: 26px;
	color: #152E46;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.landing-grid-hcm:hover, .landing-grid-cape:hover, .landing-grid-ahcah:hover, .landing-grid-global:hover {
	background: #E9ECEF;
}

.landing-cta-hcm:hover {
	text-decoration: none;
	color: #006846;
}

.landing-cta-cape:hover {
	text-decoration: none;
	color: #0052A5;
}

/* Index page */

.hcm-order-header {
	color: #006846;
}

.cape-order-header {
	color: #444444;
}

.product-main-img {
	height: 200px;
	width: auto;
}

.clear-all {
	color: #006846;
}

.clear-all:hover {
	color: #ffffff;
}

.product-details {
	margin: 3% 0;
}

.hcm-no-match {
	color: #006846;
}

.cape-no-match {
	color: #0052A5;
}

.ahcah-no-match {
	color: #000090;
}

.global-no-match {
	color: #152E46;
}

.hcm-no-match:hover {
	color: #0E9D54;
}

.cape-no-match:hover {
	color: #f29333;
}

.ahcah-no-match:hover {
	color: #990000;
}

.hcm-table-title {
	color: #006846;
}

.cape-table-title {
	color: #0052A5;
}

.ahcah-table-title {
	color: #000090;
}

.global-table-title {
	color: #152E46;
}

.pagination-nav {
	margin-top: 50px;
}

/* .index-img {
	height: auto;
	width: auto;
} */

#btn-spacing {
	margin: 1.5% 0;
}

#btn-inline-spacing {
	margin-left: 20px;
}

#product-qty {
	display: inline-block;
}

#md-spacing {
	margin-bottom: 20px;
}

/* New page/forms */

.new-prod-header {
	text-align: center;
	margin: 3% 0;
}

.form-width {
	width: 40%;
	margin: 10px auto;
}
.form-btn-width {
	width: 30%;
	margin: 30px auto;
}

.form-align {
	text-align: center;
}

.reg-label {
	display: block;
	text-align: center;
}

#strong {
	font-weight: 600;
}

/* Show page */

.show-button {
	margin-bottom: 10%;
	/* width: 50%; */
}

.delete-btn {
	color: white;
	background: red;
}

.comment-section {
	display: flex;
	align-items: flex-end;
}

.comment {
	margin: 0 auto;
}

.comment-area {
	background: #F8F9FA;
}

.btn-format {
	width: 25%;
	margin: 0 auto;
}

.order-note {
	position: relative;
  	display: inline-block;
}

.pap-neutral {
	background-color: #E9ECEF;
	color: #000000;
}
	
#delete-form {
	display: inline;
}

#delete-form:hover {
	background: #ff4538;
	color: white;
}

/* Login/Register */

.form-group p {
	margin: 5px;
}

.form-animation {
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

/* Profile Page */
.avatar {
	height: 125px;
	width: 125px;
	border-radius: 50%;
	margin-left: 20px;
}

.comment-avatar {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin-right: 20px;
}

.profile-header {
	display: inline;
}

.pass-align {
	text-align: center;
}

.btn-inline {
	display: flex;
	float: right;
}


/* Admin Page */
.admin-header {
	margin-bottom: 30px;
}

/* On all pages (or most) */
.hcm-btn {
	border: 1px solid #006846;
	color: #006846;
}

.cape-btn {
	border: 1px solid #F56039;
	color: #F56039;
}

.ahcah-btn {
	border: 1px solid #990000;
	color: #990000;
}

.global-btn {
	border: 1px solid #152E46;
	color: #152E46;
}

.hcm-btn:hover {
	background: #006846;
	color: #ffffff;
}

.cape-btn:hover {
	background: #f29333;
	color: #ffffff;
}

.ahcah-btn:hover {
	background: #990000;
	color: #ffffff;
}

.global-btn:hover {
	background: #152E46;
	color: #ffffff;
}

/* 404 page */
.no-page {
	margin: 0 auto;
	text-align: center;
}

@media screen and (max-width: 480px) {
	table {
    	table-layout: fixed;
  	}
	
	table th, table td {
		overflow: hidden;
	}
	
	.form-width {
		width: 80%;
	}

	#phone-hide {
		display: none;
	}
	
	#phone-input {
		width: 150px;
	}
	
	#phone-header {
		font-size: 40px;
	}
}

/* Blog */

.status-name {
	width: 25%;
}

.status-meaning {
	width: 750%;
}

/* Footer */

.hcm-footer {
	background: #006846;
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
}

.cape-footer {
	background: #444444;
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
}

.ahcah-footer {
	background: #26272B;
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
}

.global-footer {
	background: #152E46;
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
}

html {
	position: relative;
	min-height: 100%;
}

.spacing {
	margin-bottom: 200px;
}

#co-color {
	color: white;
}

#cape-co-color {
	color: #f29333;
}