/* Header page */

.logo {
	height: 70px;
	width: auto;
	margin-left: 20%;
}

.navbar {
	margin-bottom: 50px;
}

.page-spacing {
	margin-bottom: 200px;
}

#navbarSupportedContent {
	margin-right: 10%;
}

/* Landing page */

.thumbnail {
	border: 2px solid #D3D3D3;
	text-align: center;
	margin-bottom: 20px;
	padding: 20px 10px;
}

.landing-grid {
	display: flex;
	text-align: center;
	margin: 20px auto;
	position: relative;
	border: 2px solid #006846;
	border-radius: 5%;
}

.landing-grid a {
	height: 200px;
}

.landing-cta {
	font-size: 25px;
	color: #006846;
	text-align: center;
	text-decoration: none;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.landing-grid:hover {
	background: #F8F9FA;
}

.landing-cta:hover {
	text-decoration: none;
	color: #006846;
}

/* Index page */

.product-main-img {
	height: 200px;
	width: auto;
}

.clear-all {
	color: #006846;
}

.clear-all:hover {
	color: #ffffff;
}

.product-details {
	margin: 3% 0;
}

.no-match {
	color: #006846;
}

.no-match:hover {
	color: #0E9D54;
}

.table-title {
	color: #006846;
}

/* .index-img {
	height: auto;
	width: auto;
} */

#btn-spacing {
	margin: 1.5% 0;
}

#btn-inline-spacing {
	margin-left: 20px;
}

#product-qty {
	display: inline-block;
}

#md-spacing {
	margin-bottom: 20px;
}

/* New page/forms */

.new-prod-header {
	text-align: center;
	margin: 3% 0;
}

.form-width {
	width: 40%;
	margin: 10px auto;
}
.form-btn-width {
	width: 30%;
	margin: 30px auto;
}

.form-align {
	text-align: center;
}

.reg-label {
	display: block;
	text-align: center;
}

#strong {
	font-weight: 600;
}

/* Show page */

.show-button {
	margin-bottom: 10%;
	/* width: 50%; */
}

.delete-btn {
	color: white;
	background: red;
}

.comment-section {
	display: flex;
	align-items: flex-end;
}

.comment {
	margin: 0 auto;
}

.comment-area {
	background: #F8F9FA;
}

.btn-format {
	width: 25%;
	margin: 0 auto;
}

.order-note {
	position: relative;
  	display: inline-block;
}
	
#delete-form {
	display: inline;
}

#delete-form:hover {
	background: #ff4538;
	color: white;
}

/* Login/Register */

.form-group p {
	margin: 5px;
}

.form-animation {
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

/* Profile Page */
.avatar {
	height: 125px;
	width: 125px;
	border-radius: 50%;
	margin-left: 20px;
}

.comment-avatar {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin-right: 20px;
}

.profile-header {
	display: inline;
}

.pass-align {
	text-align: center;
}

.btn-inline {
	display: flex;
	float: right;
}


/* Admin Page */
.admin-header {
	margin-bottom: 30px;
}

/* On all pages (or most) */
.green-btn {
	border: 1px solid #006846;
	color: #006846;
}

.green-btn:hover {
	background: #006846;
	color: #ffffff;
}

/* 404 page */
.no-page {
	margin: 0 auto;
	text-align: center;
}

@media screen and (max-width: 480px) {
	table {
    	table-layout: fixed;
  	}
	
	table th, table td {
		overflow: hidden;
	}
	
	.form-width {
		width: 80%;
	}

	#phone-hide {
		display: none;
	}
	
	#phone-input {
		width: 150px;
	}
	
	#phone-header {
		font-size: 40px;
	}
}

/* Footer */

footer {
	background: #006846;
	position: absolute;
	bottom: 0;
	height: 80px;
	width: 100%;
}

html {
	position: relative;
	min-height: 100%;
}

.spacing {
	margin-bottom: 200px;
}

#co-color {
	color: white;
}