<%- include("../../partials/header") %>

<div class="container">
	<h1 class="new-prod-header">New Order Status</h1>
	<form action="/blog/order-status-meaning" method="POST">
		<div class="form-group form-width">
			<label class="reg-label">Order Status Name</label>
			<input class="form-control form-align" type="text" name="orderStatusName" id="orderStatusName" required>
		</div>
		<div class="form-group form-width">
			<label class="reg-label">Order Status Meaning</label>
			<textarea name="orderStatusMeaning" id="orderStatusMeaning" class="form-control form-align" rows="4" cols="100%" required></textarea>
		</div>
		<div class="form-group form-width">
			<button class="btn btn-md btn-default button-style btn-block green-btn mt-4">Submit</button>
		</div>
	</form>
</div>

<%- include("../../partials/footer") %>