<%- include("../../partials/header") %>

<div class="container">
	<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
		<h1 class="landing-header-hcm">New Order Status</h1>
	<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
		<h1 class="landing-header-cape">New Order Status</h1>
	<% } else if (currentUser.branchAssoc == "America's HealthCare at Home, Inc") { %>
		<h1 class="landing-header-ahcah">New Order Status</h1>
	<% } else { %>
		<!-- Add all other companies here -->
		<h1 class="landing-header-global">New Order Status</h1>
	<% } %>
	<form action="/blog/order-status-meaning" method="POST">
		<div class="form-group form-width">
			<label class="reg-label">Order Status Name</label>
			<input class="form-control form-align" type="text" name="orderStatusName" id="orderStatusName" required>
		</div>
		<div class="form-group form-width">
			<label class="reg-label">Order Status Meaning</label>
			<textarea name="orderStatusMeaning" id="orderStatusMeaning" class="form-control form-align" rows="4" cols="100%" required></textarea>
		</div>
		<div class="form-group form-width">
			<% if (currentUser.branchAssoc == "Health Complex-Waterbury") { %>
				<button class="btn btn-md btn-default button-style btn-block hcm-btn mt-4">Submit</button>
			<% } else if (currentUser.branchAssoc == "Cape Medical Supply Sandwich") { %>
				<button class="btn btn-md btn-default button-style btn-block cape-btn mt-4">Submit</button>
			<% } else if (currentUser.branchAssoc == "America's HealthCare at Home, Inc") { %>
				<button class="btn btn-md btn-default button-style btn-block ahcah-btn mt-4">Submit</button>
			<% } else { %>
				<!-- Add all other companies here -->
				<button class="btn btn-md btn-default button-style btn-block global-btn mt-4">Submit</button>
			<% } %>
		</div>
	</form>
</div>

<%- include("../../partials/footer") %>